/* Common */

html, body {
    height: 100%;
}

.reduced-col-padding {
    padding-right: 0 !important;
}


/* Fix navbar moving to right problem when a modal is opened */
.modal-open .navbar-fixed-top,
.modal-open .control-panel,
.modal-open .control-panel-trigger-wrapper {
    padding-right: 17px;
}


/* Index page */

.navbar {
    box-shadow: 0 6px 8px -6px #999;
}


/* Tool page*/

.main-container {
    margin-top: 50px;
    height: 100%;
}


/* Tool page: Control panel */

.main-container .control-panel {
    position: fixed;
    top: 50px;
    height: 250px;
    width: 100%;
    margin-top: -250px;
    background-color: transparent;
}

.main-container .control-panel .control-panel-body {
    position: relative;
    background-color: #f7f7f9;
    height: 100%;
    border-bottom: 1px dashed #0e9aef;
    padding: 15px;
    overflow: auto;
}

.main-container .control-panel .control-panel-body .callout {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-left-color: #1b809e;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 6px 8px -6px #999;
}

.main-container .control-panel .control-panel-body .callout .title {
    /*font-size: 110%;*/
    font-weight: 600;
    color: #1b809e;
}

.main-container .control-panel-trigger-wrapper {
    position: fixed;
    top: 58px;
    width: 100%;
    margin-top: 0;
    text-align: center;
}

.main-container .control-panel-trigger-wrapper .control-panel-trigger {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 15px 15px;
    background-color: #0e9aef;
    display: inline;
    padding: 10px;
    text-align: center;
    color: #f8f8f8;
    cursor: pointer;
}

.main-container .control-panel-trigger-wrapper .control-panel-trigger:hover {
    background-color: #0c8ad7;
}

#button-control-panel-reset {
    margin-right: 5px;
}


/* Tool page: Select services modal */

#select-services-modal .form-search {
    margin-bottom: 20px;
}

#select-services-modal #services-container {
    padding-right: 15px;
}

#select-services-modal #services-container .service {
    background-color: #f5f5f5;
    padding: 7px 10px 7px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#select-services-modal #services-container .service:hover {
    background-color: #dff0d8;
}

#select-services-modal #services-container .service .left-col {
    display: inline-block;
}

#select-services-modal #services-container .service .right-col {
    display: inline-block;
    float: right;
}

#select-services-modal #services-container .selected-service {
    background-color: #dff0d8;
}


/* Tool page: Select vehicles modal */

#select-vehicles-modal .form-search {
    margin-bottom: 20px;
}

#select-vehicles-modal #vehicles-container {
    padding-right: 15px;
}

#select-vehicles-modal #vehicles-container .vehicle {
    background-color: #f5f5f5;
    padding: 7px 10px 7px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#select-vehicles-modal #vehicles-container .vehicle:hover {
    background-color: #dff0d8;
}

#select-vehicles-modal #vehicles-container .vehicle .left-col {
    display: inline-block;
}

#select-vehicles-modal #vehicles-container .vehicle .right-col {
    display: inline-block;
    float: right;
}

#select-vehicles-modal #vehicles-container .selected-vehicle {
    background-color: #dff0d8;
}

/* Snacbar */

.snackbar {
    position: fixed;
    background-color: #263238;
    box-shadow: 0 6px 8px -6px #999;
    color: #ECEFF1;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    min-width: 288px;
    max-width: 568px;
    margin-bottom: -200px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .snackbar {
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        min-width: 100%;
    }
}
