<div class="control-panel">
    <div class="container control-panel-body">
        <div class="row">
            <div class="col-md-4">
                <p class="title">Services:</p>
                <button class="btn btn-default btn-sm btn-select-services">Select services</button>
                <p><span class="text-primary"><strong>Currently selected:</strong></span>1, 50, 60</p>
            </div>
            <div class="col-md-4">
                <p class="title">Buses:</p>
                <button class="btn btn-default btn-sm btn-select-buses">Select buses</button>
                <p><span class="text-primary"><strong>Currently selected:</strong></span>1, 173, 400</p>
            </div>
            <div class="col-md-4">
                <p class="title">Time span:</p>
                <button class="btn btn-default btn-sm btn-change-time-span">Change time span</button>
                <div><span class="text-primary"><strong>Start time:</strong></span>1st February, 2014</div>
                <div><span class="text-primary"><strong>End time:</strong></span>1st February, 2015</div>
            </div>
        </div>
        <div class="row">
            <hr class="divider">
            <div class="buttons-container">
                <button class="btn btn-default btn-sm btn-reset-selection">Reset</button>
                <button class="btn btn-primary btn-sm btn-animate">Start</button>
            </div>
        </div>
    </div>
</div>

<div class="control-panel-trigger-wrapper">
    <p class="control-panel-trigger" ng-click="toggle()">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-down': !isVisible, 'glyphicon-chevron-up': isVisible}"></span> Dashboard
    </p>
</div>