# jetbrains config files
.idea/

# npm
node_modules
*.log
*.gz

# database files
data/

# windows batch scripts
*.bat

# javascript build
app/public/javascripts/build/main.min.js

# simulated data file uplaods
app/uploads/
