<div class="control-panel">
    <div class="control-panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="callout">
                        <div class="title">Services</div>
                        <div>Currently selected: <strong><span id="currently-selected-services">None</span></strong></div>
                        <br>
                        <button class="btn btn-default btn-sm" id="select-services-modal-trigger">Select services</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="callout">
                        <div class="title">Vehicles</div>
                        <div>Currently selected: <strong><span id="currently-selected-vehicles">None</span></strong></div>
                        <br>
                        <button class="btn btn-default btn-sm" id="select-vehicles-modal-trigger">Select vehicles</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="callout">
                        <div class="title">Time span</div>
                        <div>Start time: <strong><span id="start-time"></span></strong></div>
                        <div>End time: <strong><span id="end-time"></span></strong></div>
                        <br>
                        <button class="btn btn-default btn-sm" id="select-time-span-modal-trigger">Select time span</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-8 text-right">
                    <button class="btn btn-default" id="button-control-panel-reset">Reset</button>
                    <button class="btn btn-primary" id="button-control-panel-submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="control-panel-trigger-wrapper">
    <div class="control-panel-trigger"><span class="glyphicon glyphicon-chevron-down"></span> Control Panel</div>
</div>