<div class="control-panel">
    <div class="control-panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active" id="visualize-real-data-pill"><a data-container="#visualize-real-data-container">Visualize real data</a></li>
                        <li role="presentation" id="visualize-simulated-data-pill"><a data-container="#visualize-simulated-data-container">Visualize simulated data</a></li>
                    </ul>
                </div>
            </div>
            <div class="row" id="visualize-real-data-container">
                <div class="col-md-4">
                    <div class="callout">
                        <div class="row title-wrapper">
                            <div class="col-md-6 col-xs-6">
                                <div class="title">Selected services</div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-button">
                                <button class="btn btn-success btn-sm" id="select-services-modal-trigger"><strong>Select</strong></button>
                            </div>
                        </div>
                        <select class="form-control" id="currently-selected-services-select" size="6" multiple></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="callout">
                        <div class="row title-wrapper">
                            <div class="col-md-6 col-xs-6">
                                <div class="title">Selected vehicles</div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-button">
                                <button class="btn btn-success btn-sm" id="select-vehicles-modal-trigger"><strong>Select</strong></button>
                            </div>
                        </div>
                        <select class="form-control" id="currently-selected-vehicles-select" size="6" multiple></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="callout">
                        <div class="row title-wrapper">
                            <div class="col-md-6 col-xs-6">
                                <div class="title">Select time span</div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-button">
                                <button class="btn btn-success btn-sm" id="select-time-span-modal-trigger"><strong>Select</strong></button>
                            </div>
                        </div>
                        <div>Start time: <strong><span id="start-time"></span></strong></div>
                        <div>End time: <strong><span id="end-time"></span></strong></div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="toggle-live-mode-checkbox"> Enable live mode
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="visualize-simulated-data-container">
                <div class="col-md-4 col-xs-12 col-md-offset-4">
                    <div class="callout">
                        <div class="title-wrapper">
                            <div class="title">Upload file</div>
                        </div>
                        <p>Use the input form below to upload a plain text file containing simulated data:</p>
                        <input type="file" class="form-control" id="simulated-file-input">
                    </div>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-8 text-right">
                    <button class="btn btn-default" id="button-control-panel-reset">Reset</button>
                    <button class="btn btn-primary" id="button-control-panel-submit" data-loading-text="Loading...">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="control-panel-trigger-wrapper">
        <div class="control-panel-trigger"><span class="glyphicon glyphicon-chevron-down"></span> Control Panel</div>
    </div>
</div>