<div class="control-panel">
    <div class="control-panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="callout">
                        <div class="row title-wrapper">
                            <div class="col-md-6">
                                <div class="title">Selected services</div>
                            </div>
                            <div class="col-md-6 col-button">
                                <button class="btn btn-success btn-sm" id="select-services-modal-trigger"><strong>Select</strong></button>
                            </div>
                        </div>
                        <select class="form-control" id="currently-selected-services-select" multiple></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="callout">
                        <div class="row title-wrapper">
                            <div class="col-md-6">
                                <div class="title">Selected vehicles</div>
                            </div>
                            <div class="col-md-6 col-button">
                                <button class="btn btn-success btn-sm" id="select-vehicles-modal-trigger"><strong>Select</strong></button>
                            </div>
                        </div>
                        <select class="form-control" id="currently-selected-vehicles-select" multiple></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="callout">
                        <div class="row title-wrapper">
                            <div class="col-md-6">
                                <div class="title">Time Span</div>
                            </div>
                            <div class="col-md-6 col-button">
                                <button class="btn btn-success btn-sm" id="select-time-span-modal-trigger"><strong>Select</strong></button>
                            </div>
                        </div>
                        <div>Start time: <strong><span id="start-time"></span></strong></div>
                        <div>End time: <strong><span id="end-time"></span></strong></div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-8 text-right">
                    <button class="btn btn-default" id="button-control-panel-reset">Reset</button>
                    <button class="btn btn-primary" id="button-control-panel-submit" data-loading-text="Loading...">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="control-panel-trigger-wrapper">
    <div class="control-panel-trigger"><span class="glyphicon glyphicon-chevron-down"></span> Control Panel</div>
</div>