<div id="simulation-controls-trigger-wrapper">
    <div id="simulation-controls-trigger"><span class="glyphicon glyphicon-chevron-down"></span> Simulation Controls</div>
</div>

<div class="form-group has-feedback" id="current-time-container">
    <label class="control-label text-uppercase sr-only" for="map-controls-current-time">Simulation Controls</label>
    <input type="text" class="form-control" id="map-controls-current-time" readonly>
    <span class="glyphicon glyphicon-time form-control-feedback" aria-hidden="true"></span>
</div>

<div class="row">
    <div class="col-md-6 col-xs-6"><div class="title text-uppercase"><strong>Simulation Controls</strong></div></div>
    <div class="col-md-6 col-xs-6 text-right"><a id="configure-controls-link">Configure</a></div>
</div>

<div class="controls">
    <div class="range range-primary" id="simulation-completion-container">
        <input type="range" id="simulation-completion-range" min="0" max="100" value="0">
        <output id="simulation-completion-output" class="range-primary">0%</output>
    </div>
    <button type="button" class="btn btn-default btn-sm" id="fast-backward-button">
        <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" id="backward-button">
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg" id="play-pause-button">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" id="forward-button">
        <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" id="fast-forward-button">
        <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
    </button>
</div>

<div class="title text-uppercase"><strong>Legend</strong></div>
<div id="legend"></div>

<div class="text-uppercase"><strong>Options</strong></div>
<div class="options row">
    <div class="col-md-12 col-xs-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="show-path-trace-checkbox" {% if arePathPolylinesVisible %} checked {% endif %}> Show full path trace
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="show-routes-checkbox" {% if areRoutePolylinesVisible %} checked {% endif %}> Show routes
            </label>
        </div>
        <form class="form">
            <div class="form-group" id="interpolation-animation-duration-form-group">
                <label for="interpolation-animation-duration-input"><span class="map-controls-options-label">Interpolation animation duration (ms): </span></label>
                <input type="text" class="form-control input-sm map-controls-options-input" id="interpolation-animation-duration-input" value="{{interpolationAnimationDuration}}">
            </div>
        </form>
        <form class="form">
            <div class="form-group" id="refresh-interval-form-group">
                <label for="refresh-interval-input"><span class="map-controls-options-label">Refresh interval (ms): </span></label>
                <input type="text" class="form-control input-sm map-controls-options-input" id="refresh-interval-input" value="{{refreshInterval}}">
            </div>
        </form>
    </div>
</div>
