<div class="row">
    <div class="col-md-6 col-xs-6"><div class="title text-uppercase"><strong>Simulation Controls</strong></div></div>
    <div class="col-md-6 col-xs-6 text-right"><a id="configure-controls-link">Configure</a></div>
</div>
<div class="form-group has-feedback">
    <label class="control-label text-uppercase sr-only" for="map-controls-current-time">Simulation Controls</label>
    <input type="text" class="form-control" id="map-controls-current-time" readonly>
    <span class="glyphicon glyphicon-time form-control-feedback" aria-hidden="true"></span>
</div>

<div class="controls">
    <button type="button" class="btn btn-default btn-sm" id="fast-backward-button">
        <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" id="backward-button">
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg" id="play-pause-button">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" id="forward-button">
        <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" id="fast-forward-button">
        <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
    </button>
</div>

<div class="title text-uppercase"><strong>Legend</strong></div>
<div id="legend"></div>

<div class="text-uppercase"><strong>Options</strong></div>
<div class="options row">
    <div class="col-md-6 col-xs-6">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="show-path-trace-checkbox" {% if arePathPolylinesVisible %} checked {% endif %}> Show full path trace
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="show-routes-checkbox" {% if areRoutePolylinesVisible %} checked {% endif %}> Show routes
            </label>
        </div>
    </div>
</div>
