<div class="modal fade" id="select-services-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Select services</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" placeholder="Search by service name, type or description">
                <br>

                <div class="row">
                    <div class="col-md-12 col-md-offset-0">
                        <div class="progress" id="select-services-modal-progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                Loading services...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="services-container">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="select-services-modal-save-button">Save changes</button>
            </div>
        </div>
    </div>
</div>