<div class="modal fade" id="select-services-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Select services</h4>
            </div>
            <div class="modal-body">
                <div class="form-group has-feedback">
                    <label class="control-label sr-only" for="search-services-input">Search by service name, type or description</label>
                    <input class="form-control" id="search-services-input" placeholder="Search by service name, type or description">
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                </div>

                <div class="alert alert-info" role="alert" style="padding: 7px"><strong>Tip! </strong>Right click on a service to view its description.</div>

                <div class="row">
                    <div class="col-md-12 col-md-offset-0">
                        <div class="progress" id="select-services-modal-progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                Loading services...
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="services-container">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="select-all-services-button"><span class="glyphicon glyphicon-ok"></span> Select all</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="select-services-modal-save-button">Save changes</button>
            </div>
        </div>
    </div>
</div>