<div class="col-md-3 col-xs-6 reduced-col-padding">
    <div class="vehicle {% if isSelected %} selected-vehicle {% endif %}">
        <div class="left-col">
            <strong>{{ vehicle_id }}</strong> {% if services.length > 3%} (Services: {{services[0]}},{{services[1]}},{{services[2]}},...) {% else %} (Services: {{ services }}) {% endif %}
        </div>
        <div class="right-col">
            {% if isSelected %}
            <span class="glyphicon glyphicon-ok"></span>
            {% endif %}
        </div>
    </div>
</div>