<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bus Simulator</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <!-- scripts -->
    <script data-main="javascripts/main" type="text/javascript" src="/javascripts/libs/require.js"></script>
</head>

<body>
<!--Navigation bar-->
<div id="navigation-bar"></div>

<!-- Main content -->
<div id="content"></div>

<!-- Modals -->
<div id="select-services-modal-container"></div>

</body>
</html>