<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bus Simulator</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <!-- scripts -->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <!--<script data-main="javascripts/main" type="text/javascript" src="/javascripts/libs/require.js"></script>-->
    <script type="text/javascript" src="/javascripts/build/main.min.js"></script>
</head>

<body>
<!--Navigation bar-->
<div id="navigation-bar"></div>

<!-- Main content -->
<div id="content"></div>

<!-- Modals -->
<div id="select-services-modal-container"></div>
<div id="select-vehicles-modal-container"></div>
<div id="select-time-span-modal-container"></div>
<div id="legend-disabled-confirmation-modal-container"></div>
<div id="configure-controls-modal-container"></div>

<!-- Snackbars -->
<div id="snackbar-container"></div>

</body>
</html>